<div class="container">
  <div class='coach-profile-header header-flex'>
    <h1>My Coach Profile</h1>
  </div>
  <div class="user-information">
    <div class="profile d-flex">
      <div class="profile-picture m-2 p-2">
          <img src=<%= @coach_profile.photo_key %> class="avatar-coach" alt="">
      </div>
      <div class="profile-description  m-2 p-2">

        <p><strong>Description:</strong> <%= @coach_profile.description %></p>
        <p><strong>Sport:</strong> <%= @coach_profile.sport.name.capitalize %></p>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <% @coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
    <div class="user-action">
      <% if policy([:coach, @coach_profile]).edit? %>
        <%= link_to 'Edit My Profile', edit_coach_profile_path(@coach_profile), class: "btn btn-primary"  %>
      <% end %>
      <% if policy([:coach, @coach_profile]).destroy? %>
        <%= link_to "Delete My Profile",
                              coach_profile_path(@coach_profile),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn btn-secondary" %>
    <% end %>
    </div>
    <%= link_to "<<", :back, class: 'back-btn' %>
</div>
