<div class="container">
  <div class='header header-flex'>
    <h1>My Coach Profile</h1>
    <%= link_to "Back", :back, class:"back-btn" %>
  </div>
  <div class="user-information">
    <div class="profile d-flex">
      <div class="profile-picture m-2 p-2">
          <img src='https://res.cloudinary.com/dcwfy3dua/image/upload/v1639193524/sportmelite/coach%20profile%20pic/drive-download-20211211T033126Z-001/<%= @coach_profile.photo_key %>.jpg' class="avatar-coach" alt="">
      </div>
      <div class="profile-description  m-2 p-2">

        <p><strong>Description:</strong> <%= @coach_profile.description %></p>
        <p><strong>Sport:</strong> <%= @coach_profile.sport.name.capitalize %></p>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <% @coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
    <div class="user-action">
      <% if policy([:coach, @coach_profile]).edit? %>
        <%= link_to 'Edit', edit_coach_profile_path(@coach_profile), class: "btn btn-primary"  %>
      <% end %>
      <% if policy([:coach, @coach_profile]).destroy? %>
        <%= link_to "Delete",
                              coach_profile_path(@coach_profile),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn btn-outline-danger" %>
    <% end %>
    </div>
</div>
