<div class="container">
<h2>Coach Profile Page</h2>
  <div class="user-information m-2 p-2">
    <div class="profile d-flex">
      <div class="profile-picture m-2 p-2">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
      <div class="profile-description  m-2 p-2">

        <p>Coach profile description: <%= @coach_profile.description %></p>
        <p>Coach's sport: <%= @coach_profile.sport.name %></p>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <% @coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
    <div class="user-action">
      <% if policy([:coach, @coach_profile]).edit? %>
        <%= link_to 'edit', edit_coach_profile_path(@coach_profile), class: "btn btn-primary"  %>
      <% end %>
      <% if policy([:coach, @coach_profile]).destroy? %>
        <%= link_to "Delete",
                              coach_profile_path(@coach_profile),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn btn-danger" %>
    <% end %>
    </div>
</div>
