<div class='container form'>
 <div class='header header-flex'>
    <h2>Sign Up</h2>
    <%= link_to "Back", :back, class:"back-btn" %>
  </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
     <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :date_of_birth,
                html5: true,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Date of Birth" }%>
    <%= f.input :contact_number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Contact Number" }%>
    <%= f.input :photo, as: :file,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "Profile Picture" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn button-primary' %>
  </div>
<% end %>

</div>
