<div class="container">
  <h1><%= @sports_heading %></h1>
  <% if @query %>
    <h4>You searched for: '<%= @query %>'</h4>
  <% end %>
  <div class="row">
    <% if @sports.count > 0 %>
      <div class="sport-cards">
        <% @sports.each do |sport| %>
          <%= link_to sport_coaches_path(sport) do %>
            <div class="border text-center sport-card" style="background-image: url(<%= cl_image_path(sport.picture_url) %>);">
              <%= sport.name.capitalize%>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="results">
        <p>No results found.</p>
      </div>
    <% end %>
  </div>

  <div class="action-button">
    <%= link_to "Back to home", root_path, class: 'btn btn-flat' %>
  </div>
</div>
