<div class="container">
  <h1>My Lessons</h1>

   <div class='lesson-header-links'>
      <%= link_to('All', lessons_path, class:"lesson-header-link #{"active" if current_page?(lessons_path)}") %>
      <%= link_to('Upcoming', upcoming_lessons_path, class:"lesson-header-link #{"active" if current_page?(upcoming_lessons_path)}") %>
      <%= link_to('History', history_lessons_path, class:"lesson-header-link #{"active" if current_page?(history_lessons_path)}") %>
  </div>

  <% if @lessons.empty? %>
    <div class='lesson-header-links'><h4>No lessons available</h4></div>
  <% end %>

  <% @lessons.each do |lesson| %>
    <div class="lesson-card">
      <div class="lesson-date">
        <span class="lesson-date date"><%= lesson.start_date_time.strftime("%-d %b %Y") %></span>
        <span class="lesson-date time"><%= lesson.start_date_time.strftime("%-d.%I%p") %></span>
        <span class="lesson-date duration"><%= ((lesson.end_date_time - lesson.start_date_time)/60).round() %> mins</span>
      </div>

      <div class="lesson-details">
        <strong>Class</strong>
        <span>Coach: <%= link_to User.find(lesson.coach_id).name, coach_path(User.find(lesson.coach_id))  %></span>
        <span>User: <%= User.find(lesson.student_id).name %></span>
        <span>Location: <%= lesson.location %></span>
      </div>

      <div class="lesson-status">
        <% if lesson.status %>
          <p class="lesson-status booked">Booked</p>
        <% else %>
          <p class="lesson-status available"><%= link_to "Available", "#" %></p>
        <% end %>
      </div>

      <div class="lesson-cancel">
        <% if lesson.status %>
          <p class="lesson-cancel"><%= link_to "Cancel", cancel_booking_lesson_path(lesson) %></p>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
