<div class="container" data-controller='lesson' data-lesson-target='list'>
  <div class='lesson-header'>
  <h1>My Lessons</h1>
  </div>

  <div class='lesson-header-links'>
    <%= link_to 'All', lessons_path, class:"lesson-header-link active", data: { action: 'click->lesson#displayLessons'}, remote: true %>
    <%= link_to 'Upcoming', upcoming_lessons_path, class:"lesson-header-link", data: { action: 'click->lesson#displayLessons'}, remote: true  %>
    <%= link_to 'History', history_lessons_path, class:"lesson-header-link", data: { action: 'click->lesson#displayLessons'}, remote: true  %>
  </div>

  <%= render 'lessons_list'%>
  <%= link_to "<<", :back, class: 'back-btn' %>
  <%# lesson modal %>
  <div class="modal fade" id="lessonModal"  tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-lesson-target='lessonModal'>
    <div class="modal-dialog" role="document" data-lesson-target='modalContent'></div>
  </div>

</div>
