<div class='container'>
  <h1 class='accounts-header'>Accounts</h1>

  <div class="tab-content" id="myTabContent" >
    <div class="tab-pane fade show active" id="day" role="tabpanel" aria-labelledby="day-tab"><%= render 'day_charts' %></div>
    <div class="tab-pane fade" id="month" role="tabpanel" aria-labelledby="month-tab"><%= render 'month_charts' %></div>
  </div>
  <div>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="day-tab" data-toggle="tab" href="#day" role="tab" aria-controls="day" aria-selected="true">Daily</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="month-tab" data-toggle="tab" href="#month" role="tab" aria-controls="month" aria-selected="false">Monthly</a>
      </li>
    </ul>
  </div>

  <div class='accounts-container'>
    <% date = "" %>
    <% @lessons_with_orders.reverse.each do |lesson| %>
      <% if lesson.order.created_at.localtime.strftime("%d %b %Y") != date %>
        <div class='accounts-date-card'> <%= lesson.order.created_at.localtime.strftime("%d %b %Y") %></div>
        <div class='accounts-card'>
          <div class='account-details'>
            <span><strong>Booked by: <%= lesson.order.user.name %></strong></span>
            <span>Order Id: <%= lesson.order.id %> </span>
            <span>Visa *****4242 </span>
          </div>
          <div class='account-amount'>
            <% if lesson.order.state == 'paid' %>
              <span>+ $<%= lesson.order.amount %></span>
            <% else %>
              <span>Pending $<%= lesson.order.amount %></span>
            <% end %>
          </div>
        </div>
        <% date = lesson.order.created_at.localtime.strftime("%d %b %Y") %>

      <% else %>
        <div class='accounts-card'>
          <div class='account-details'>
            <span><strong>Booked by: <%= lesson.order.user.name %></strong></span>
            <span>Order Id: <%= lesson.order.id %> </span>
            <span>Visa *****4242 </span>
          </div>
          <div class='account-amount'>
            <% if lesson.order.state == 'paid' %>
              <span>+ $<%= lesson.order.amount %></span>
            <% else %>
              <span>Pending $<%= lesson.order.amount %></span>
            <% end %>
          </div>
        </div>
      <%end %>
    <% end %>
    <div class='account-total-card'>
      <div class='account-total'>
      <% total = [] %>
      <% @lessons_with_orders.each do |lesson| %>
        <% if lesson.order.state == 'paid' %>
          <% total << lesson.order.amount %>
        <% end %>
      <% end %>
      <span>Total: $<%= total.sum %></span>
      </div>
    </div>
  </div>
  <%= link_to "<<", root_path, class: 'back-btn' %>
</div>
