<div id="filterrific_results">
  <div class="row coach-cards">
    <% @coaches.each do |coach| %>
      <%= link_to coach_path(coach), class: "coach-card col-sm-12 col-md-6 col-lg-4 col-xl-4" do %>
          <div class="coach-image">
            <img src=<%= coach.coach_profile.photo_key %>>
          </div>
          <div class="coach-card-infos">
            <p>Name: <%= coach.name.capitalize %> (<%= coach.gender == "male" ? "M" : "F" %>)</p>
            <p>Age: <%= coach.age %></p>
            <p>Years of Experience: <%= coach.coach_profile.years_of_experience %></p>
            <div class="coach-description mt-1">
              <small><i><p><%= coach.coach_profile.description %></p></i></small>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
