<div class='container'>

  <div class="coach-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @sport.picture_url %>)">
    <h1><strong><%= @sport.name.capitalize %> Coaches</strong></h1>
  </div>

  <div class="coach-cards-container">
      <div class="coach-cards">
        <% @coaches.each do |coach| %>
          <%= link_to coach_path(coach) do %>
            <div class="coach-card">
              <img src=<%= coach.coach_profile.photo_key %> />
              <div class="coach-card-infos">
                <h2><%= coach.name.capitalize %></h2>
                <p><i><%= coach.coach_profile.description %></i></p>
                <% if coach.lessons_to_teach.length > 0 %>
                  <p>Price: $<%= coach.lessons_to_teach[0].price %>/hr</p>
                  <p>Location: <%= coach.lessons_to_teach[0].location %></p>
                <% else %>
                  <p><i>No lessons available</i></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
