<div class='container'>

  <div class="coach-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @sport.picture_url %>)">
    <h1><strong><%= @sport.name.capitalize %> Coaches</strong></h1>
  </div>

  <%= form_for_filterrific @filterrific do |f| %>
  <div>
    Gender
    <%= f.select(
      :with_gender,
      @filterrific.select_options[:with_gender],
      { include_blank: '- Any -' }
    ) %>
  </div>

  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%# <%= render_filterrific_spinner %>
  <% end %>

<%# app/views/students/_list.html.erb %>
 <%= render( partial: 'coaches/list', locals: { coaches: @coaches }) %>
