
<div class="container">
  <div class="user-information m-2 p-2">
    <div class="profile d-flex">
      <div class="profile-picture m-2 p-2">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
      <div class="profile-description  m-2 p-2">
        <h2>Coach Profile Page</h2>
        <h3>User name: <%= @coach.name %></h3>
        <p>Coach profile description: <%= @coach.coach_profile.description %></p>
        <p>Coach's sport: <%= @coach.coach_profile.sport.name %></p>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <% @coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>

<%= link_to "See All Coach's Lessons", list_lessons_coach_path(@coach), class: "btn btn-primary" %>
