<div class="container">
 <div class='header header-flex'>
    <h1><%= @coach.name.capitalize %>'s Profile</h1>
    <%= link_to "Back", :back, class:"back-btn" %>
  </div>
  <div class="user-information">
    <div class="profile d-flex">
      <div class="profile align-items-center">
        <div class="profile-picture m-2 p-2">
         <img src=<%= @coach.coach_profile.photo_key %> class="avatar-coach" alt="">
        </div>
        <div class="chat-btn m-2 p-2">
          <%= link_to coach_chats_path(@coach),
              method: 'post' do %>
            <span>Start Chat <i class="far fa-comment-dots"></i></span>
          <% end %>
        </div>
      </div>
      <div class="profile-description  m-2 p-2">
        <p><strong>Name:</strong> <%= @coach.name %></p>
        <p><strong>Description:</strong> <%= @coach.coach_profile.description %></p>
        <p><strong>Sport:</strong> <%= @coach.coach_profile.sport.name.capitalize %></p>
        <p><strong>Reviews:</strong> <% @reviews.each do |review| %></p>
        <i><%= review.content %></i>
        <% end %>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <% @coach.coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<button class='btn button-primary' id='coach-toggle-btn' data-toggle="collapse" href="#coach-lessons-list" aria-expanded="false">Show Lessons</button>

<%# coach lessons  %>
<div class="container mt-3 collapse" id='coach-lessons-list'>
  <%= render( partial: 'coaches/lessonfilterform' ) %>
  <%= render( partial: 'coaches/lessonlist') %>
</div>
