<div class='container'>
  <div class="coach-profile-container">
    <div class='coach-banner' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @coach.sport.picture_url %>)">
    </div>
    <div class='coach-profile-top'>
      <div class="profile-picture">
          <img src=<%= @coach.coach_profile.photo_key %> class="avatar-coach" alt="">
           <div class="chat-btn m-2 p-2">
          <%= link_to coach_chats_path(@coach),
              method: 'post' do %>
            <span>Start Chat <i class="far fa-comment-dots"></i></span>
          <% end %>
      </div>
      </div>
      <div class='favorite-tag'>
        <% if current_user %>
          <%= link_to '' , bookmark_coach_coach_path(@coach), class: "#{current_user.favorited?(@coach) ? 'fas fa-bookmark' : 'far fa-bookmark'}" %>
        <% end %></span>
      </div>
    </div>

    <div class='coach-profile'>
      <div class='user-information'>
        <h3><%= @coach.name  %></h3>
        <p><%= @coach.coach_profile.description %></p>
      </div>
      <div class='coach-badges'>
        <div class='coach-badge'>
        <img src="http://www.stargolf.com.sg/wp-content/uploads/2018/06/tpi3A-768x291.png" alt="" width="150" height="50">
        </div>
        <div class='coach-badge'>
        <img src="http://www.stargolf.com.sg/wp-content/uploads/2016/01/icon-lpga.png" alt="" width="150" height="100">
        </div>
        <div class='coach-badge'>
        <img src="http://www.stargolf.com.sg/wp-content/uploads/2017/03/1475803339-150x150.png" alt="" width="100" height="50">
        </div>
      </div>
    </div>

    <div class='dividing-line'></div>

    <div class='coach-credentials'>
      <div class='coach-qualifications'>
        <h3>Competitions</h3>
          <ul>
            <li>LPGA T&CP Sectional Tournament (2010)</li>
            <li>Women’s Metropolitan Golf Open Championships (2010)</li>
            <li>Maryland State Women’s Open (2010)</li>
            <li>US Women’s Open Qualifier (2010)</li>
            <li>US Women’s Open Sectional Qualifying (2011)</li>
            <li>CN Canadian Women’s Tour (2011)</li>
          </ul>
      </div>
      <div class='coach-competitions'>
        <h3>Achievements and Awards</h3>
          <ul>
            <li>MOE-IRS Registered Instructor</li>
            <li>Completed National Standards For Youth Sports (NSYS) workshop in Year 2014</li>
            <li>Titleist Performance Institute Level 1, Junior Level 2 and Golf Level 2 Certified)</li>
            <li>LPGA – USGA Girls’ Golf Site Director (2009 – 2011)</li>
            <li>First Tee Coach – Level II</li>
            <li>Mizuno Certified Club Fitter</li>
          </ul>
      </div>
    </div>

    <div class='dividing-line'></div>

    <div class="coach-images-container">
      <h3>Training Videos / Photos</h3>
      <div class="coach-images">
        <% @coach.coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='dividing-line'></div>

  <div class='coach-reviews-container'>
    <h3>Reviews</h3>
    <%= render 'carousell' %>
  </div>

  <div class='dividing-line'></div>

  <div class='lessons-container'>
    <div class='lesson-filter'>
      <%= render( partial: 'coaches/lessonfilterform' ) %>
    </div>
    <div class='coach-lessons'>
      <%= render( partial: 'coaches/lessonlist') %>
    </div>
  </div>

  <%= link_to "<<", :back, class:"back-btn" %>
</div>
