<div class="container">
 <div class='header header-flex'>
    <h1><%= @coach.name.capitalize %>'s Profile</h1>
    <%= link_to "Back", :back, class:"back-btn" %>
  </div>
  <div class="user-information">
    <div class="profile d-flex">
      <div class="profile-picture m-2 p-2">
        <img src='https://res.cloudinary.com/dcwfy3dua/image/upload/v1639193524/sportmelite/coach%20profile%20pic/drive-download-20211211T033126Z-001/<%= @coach.coach_profile.photo_key %>.jpg' class="avatar-coach" alt="">
      </div>
      <div class="profile-description  m-2 p-2">
        <p><strong>Name:</strong> <%= @coach.name %></p>
        <p><strong>Description:</strong> <%= @coach.coach_profile.description %></p>
        <p><strong>Sport:</strong> <%= @coach.coach_profile.sport.name.capitalize %></p>
        <p><strong>Reviews:</strong> <% @reviews.each do |review| %></p>
        <%= review.content %>
        <% end %>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <% @coach.coach_profile.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<button class='btn btn-primary' id='coach-toggle-btn'>Show Lessons</button>

<%# coach lessons  %>
<div class="container coach-lesson-container mt-3">
  <% @lessons.each do |lesson| %>
    <% if lesson.status %>
      <div class="lesson-card">
        <div class="lesson-date">
          <span class="lesson-date date"><%= lesson.start_date_time.strftime("%-d %b %Y") %></span>
          <span class="lesson-date time"><%= lesson.start_date_time.strftime("%-d.%I%p") %></span>
          <span class="lesson-date duration"><%= ((lesson.end_date_time - lesson.start_date_time)/60).round() %> mins</span>
        </div>

        <div class="lesson-details">
          <strong><%= lesson.coach.sport.name.capitalize %> Class <i class="material-icons mr-1"><%= sport_icon(lesson.coach.sport.name) %></i></strong>
          <span>Coach: <%= User.find(lesson.coach_id).name %></span>
          <span>Location: <%= lesson.location %></span>
        </div>

        <div class="lesson-price">
          <p>Price: <%= humanized_money_with_symbol(lesson.price) %></p>
        </div>

        <div>
          <%# <%= link_to "Book Lesson", make_booking_lesson_path(lesson), class:'btn-flat' %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'lesson_id', lesson.id %>
            <%= submit_tag 'Book Lesson', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <% else %>
      <span>No available lessons at the moment.</span>
    <% end %>
  <% end %>
</div>
