<div class="location-info" id="location-<%= location.id %>" style='color: black'>
  <h6><strong><%= location.name %></strong></h6>
  <div class="d-flex mb-2">
    <% location.coaches.map(&:sport).uniq.each do |sport| %>
      <i class="material-icons mr-1",
              id="sport-<%= sport.id %>">
      <%= sport_icon(sport.name) %></i>
    <% end %>
  </div>
  <%= link_to "Display Lessons", location_lessons_path(location),
        data: {
          search_location_lessons_target: "selector",
          action: 'click->search-location-lessons#displayLocationLessons'
        },
        remote: true,
        class: 'btn btn-primary btn-sm'
      %>
</div>
