<div class="location-info" id="location-<%= location.id %>" style='color: black'>
  <p class="location-name">
    <strong><%= location.name %></strong>
  </p>
  <div class="d-flex">
    <% location.sports.uniq.each do |sport| %>
      <i class="material-icons mr-1" id="sport-<%= sport.id %>"><%= sport_icon(sport.name) %></i>
    <% end %>
  </div>
  <%= link_to "Display Lessons", location_lessons_path(location),
        data: {
          search_location_lessons_target: "selector",
          action: 'click->search-location-lessons#displayLessons'
        },
        remote: true
      %>
</div>
