<!DOCTYPE html>
<html>
  <head>
    <title>SportMeLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      <%= ".message-#{current_user&.id}" %> {
      text-align: right;
      }
      <%= ".cont-#{current_user&.id}" %> {
      background: #e8f1f3 !important;
      text-align: right;
      float: right;
      }
    </style>
  </head>
  <body>
    <% unless controller_name == "pages" %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= render 'shared/modeswitch' %>
    <% end %>
    <div class='page-container'>
      <%= yield %>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
