<!DOCTYPE html>
<html>
  <head>
    <title>SportMeLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <% unless controller_name == "pages" %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
  <% end %>

    <%= yield %>
  </body>
</html>
