<div class="lesson-card <%= lesson.status ? 'border-green' : 'border-red' %> " data-id="<%=lesson.id%>"  data-lesson-target='card'>
        <div class="lesson-date">
          <span class="lesson-date time"><%= lesson.start_date_time.strftime("%I:%M%p") %></span>
          <span class="lesson-date duration"><%= ((lesson.end_date_time - lesson.start_date_time)/60).round() %> mins</span>
        </div>
        <div class="lesson-details">
          <strong><%= lesson.coach.sport.name.capitalize %> Class <i class="material-icons mr-1"><%= sport_icon(lesson.coach.sport.name) %></i></strong>
          <% if lesson.student_id %>
            <span>Booked by: <%= lesson.student.name %></span>
          <% end %>
          <span>Location: <%= lesson.location.name %></span>
        </div>
        
          <% unless lesson.status %>
            <%= link_to 'Edit',  edit_coach_lesson_path(lesson), class:'btn btn-outline-secondary btn-sm',  data: { action: "click->lesson#displayEditForm", }, remote: true %>
          <% end %> 
          <%= link_to 'Details',  coach_lesson_path(lesson), class:'btn btn-outline-secondary btn-sm',  data: { action: "click->lesson#displayShowForm", }, remote: true %>
          <%= link_to "Delete",
                      coach_lesson_path(lesson),
                      method: :delete,
                      remote: true,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-outline-danger btn-sm" %>

</div>
