<div class='container' data-controller='lesson' data-lesson-target='list'>

  <div class='flex-space-between'>
    <h1 class='header'>Coach Lessons</h1>
    <div>
      <% if current_user.access_token %>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Google Calendar
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Sync all Lessons to Google Calendar', sync_all_lessons_to_calendar_coach_lessons_path, class: 'dropdown-item' %>
        <%= link_to 'Remove all Lessons from Google Calendar', remove_all_lessons_from_calendar_coach_lessons_path, class: 'dropdown-item' %>
          <form id="#calendar_list" class='dropdown-item'>
            <input class="checkbox" id='googleEventsCheckbox' type="checkbox" role='button' data-action='click->lesson#toggleGoogleEvents'> <label for='googleEventsCheckbox' role='button'>Display Google events</label>
          </form>
      
    </div>
    <% else %>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Login via Google Sign In to sync with Google Calendar">
          <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Google Calendar</button>
        </span>
      <% end %>
    <%= link_to 'New Lesson', new_coach_lesson_path, class:"btn btn-primary", data: { target: '#newLessonModal', toggle: 'modal'}  %>
  </div>
  </div>

  <%= render 'calendar'%>

  <div class='lesson-header-links'>
    <%= link_to 'All', coach_lessons_path, class:"lesson-header-link active", data: { action: 'click->lesson#displayLessons'}, remote: true %>
    <%= link_to 'Upcoming', upcoming_coach_lessons_path, class:"lesson-header-link", data: { action: 'click->lesson#displayLessons'}, remote: true  %>
    <%= link_to 'History', history_coach_lessons_path, class:"lesson-header-link", data: { action: 'click->lesson#displayLessons'}, remote: true  %>
  </div>

  <%= render 'lessons_list'%>

  <%= link_to "<<", root_path, class: 'back-btn' %>
  <%# lesson modal %>
  <div class="modal fade" id="lessonModal"  tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-lesson-target='lessonModal'>
    <div class="modal-dialog" role="document" data-lesson-target='modalContent'></div>
  </div>

  <%# new lesson modal %>
  <%= simple_form_for(@lesson, method: :post, url: :coach_lessons, remote: true) do |f|%>
 <div class="modal fade" id="newLessonModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newLessonModal">New Lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= f.input :start_date_time, :as => :datetime, html5: true %>
            <%= f.input :end_date_time, :as => :datetime, html5: true %>
            <%= f.input :description %>
            <%= f.association :location %>
            <%= f.input :price, as: :numeric %>
            <% if current_user.access_token %>
              <%= f.label :sync_to_google do %>
                <%= f.check_box :sync_to_google, id:'syncGoogleCheckBox' %> <label for='syncGoogleCheckBox' role='button'> Add to Google Calendar</label>
            <% end %>
            <% end %>
            <%= f.input :sport_id, :as => "hidden", :input_html => { :value => current_user.sport.id } %>
            <%= f.submit class:'btn btn-primary float-right' %>
        <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
