<div class='container'>
  <div class='flex-space-between'>
  <h1 class='header'>Coach Lessons</h1>
  <button class='btn btn-flat' data-new-lesson-target='new_lesson_btn' data-action='click->new-lesson#displayForm'></button>

  <%= link_to('New Lesson', new_coach_lesson_path, class:"btn btn-flat") %>
  </div>
  <div class='lesson-header-links'>
    <%= link_to('All', coach_lessons_path, class:"lesson-header-link #{"active" if current_page?(coach_lessons_path)}") %>
    <%= link_to('Upcoming', upcoming_coach_lessons_path, class:"lesson-header-link #{"active" if current_page?(upcoming_coach_lessons_path)}") %>
    <%= link_to('History', history_coach_lessons_path, class:"lesson-header-link #{"active" if current_page?(history_coach_lessons_path)}") %>
  </div>
    <% if @lessons.empty? %>
      <div class='lesson-header-links'><h4>No lessons available</h4></div>
    <% end %>
    <% @lessons.each do |lesson| %>
         <%= render 'lesson_card', lesson: lesson %>
    <% end %>
</div>
