<div class='modal-content fixed-modal'>
  <div class="modal-header">
    <h5 class="modal-title">New Lesson</h5>
    <%= link_to "X", :back, class:"back-btn" %>
  </div>
  <div class="modal-body">
    <%= simple_form_for @lesson, method: :post, url: :coach_lessons, html: { data: { lesson_target: 'newForm', action: 'submit->lesson#create' } }  do |f|%>
            <%= f.input :start_date_time, :as => :datetime, html5: true %>
            <%= f.input :end_date_time, :as => :datetime, html5: true %>
            <%= f.input :description %>
            <%= f.association :location %>
            <%= f.input :price, as: :numeric %>
            <%= f.input :sport_id %>
            <%= f.submit class:'btn button-primaryfloat-right' %>
    <% end %>
  </div>
</div>
